<h1>Hello, {{ this.utenteLoggato.username }}</h1>
<button mat-flat-button color="warn" (click)="logout()" class="spazio">Logout</button>
<button mat-raised-button color="primary" (click)="openDialog()" class="spazio">Create</button>

<div *ngFor="let item of memos, let i = index">
  <mat-card>
    <mat-card-title>Memo number {{ i + 1 }}</mat-card-title>
    <mat-card-subtitle>{{ item.data }} - {{ item.orario }}</mat-card-subtitle>
    <mat-card-content>
      <p>{{ item.body }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="warn" (click)="eliminaMemo(i)">Delete</button>
      <button mat-flat-button color="accent" class="spazio">Update</button>
    </mat-card-actions>
  </mat-card>
</div>

